page-about {
    ion-content{
        background-image: url("../../assets/image/3.jpg");
        background-size: cover;
        text-align: center
    }

    ion-card-content{
        background-image: url("../../assets/image/card.jpg");
        background-size: cover;
        text-align: center
    } 
}
